@import "../../../styles/mixins.scss";

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.content {
    width: 100vw;
    min-height: 100vh;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
    background: no-repeat center 280px url(../../../assets/images/main-background-mobile.png);
    background-size: 100%;
}

@include tablet-width {
    .content {
        background-image: url(../../../assets/images/main-background-tablet.png);
        background-position: 42% 34px;
        background-size: 72%;
    }
}
