@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    background: rgba(245, 241, 240, 0.3);
    backdrop-filter: blur(25px);
    transition: background 0.3s ease;

    &:hover {
        .navContainer,
        .content {
            max-height: 400px;
        }

        .nav {
            max-height: 400px;
            padding-top: 60px;
            padding-bottom: 60px;
            opacity: 1;
        }
    }
}

.content {
    min-width: 100%;
    min-height: 24px;
    max-height: 24px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    transition: all 0.3s ease;
}

.navContainer {
    min-height: 24px;
    max-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 0.25s ease;
}

.nav {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    transition: all 0.3s ease;
}

.menuButton {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border: 0 solid $carbon;
    pointer-events: none;
    transition: all 0.3s ease;

    &:first-of-type {
        top: 0;
        border-width: 2px 2px 0 0;
    }

    &:last-of-type {
        bottom: 0;
        border-width: 0 0 2px 2px;
    }
}

.link {
    font-size: 18px;
    text-decoration: none;
    color: $carbon;
    @include body-2;

    &_active {
        color: $salt;
        font-weight: 700;
    }
}

.title {
    font-size: 22px;
    color: $carbon;
    position: relative;
    top: -4px;
    @include body-serif;
}

@include tablet-width {
    .container {
        background: transparent;
        backdrop-filter: blur(0);
        padding-top: 40px;
        padding-right: 110px;
        padding-bottom: 40px;
        padding-left: 110px;

        &:hover {
            background: rgba(245, 241, 240, 0.3);
            backdrop-filter: blur(25px);

            .navContainer,
            .content {
                max-width: 100%;
                max-height: 24px;
            }

            .nav {
                max-width: 400px;
                padding-top: 0;
                padding-right: 60px;
                padding-bottom: 0;
                padding-left: 60px;
                opacity: 1;
            }
        }
    }

    .navContainer {
        min-width: 24px;
        max-width: 24px;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav {
        max-width: 0;
        max-height: 24px;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }

    .menuButton {
        top: 0;
        left: unset;

        &:first-of-type {
            right: 0;
        }

        &:last-of-type {
            left: 0;
        }
    }
}
