@import "./variables.scss";

// BREAK POINTS
@mixin mobile-width {
    @media screen and (min-width: $mobile) {
        @content;
    }
}

@mixin tablet-width {
    @media screen and (min-width: $tablet) {
        @content;
    }
}

@mixin desktop-width {
    @media screen and (min-width: $desktop) {
        @content;
    }
}

// LAYOUT
@mixin responsive-container {
    transition: width 0.3s ease;

    @include mobile-width {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include desktop-width {
        display: block;
        padding-left: 18%;
    }
}

@mixin responsive-width {
    transition: width 0.3s ease;

    @include mobile-width {
        max-width: 320px;
        width: 320px;
    }

    @include tablet-width {
        max-width: 614px;
        width: 614px;
    }

    @include desktop-width {
        max-width: 738px;
        width: 738px;
    }
}

// FONTS
@mixin fraunces-300 {
    font-family: "Fraunces", serif;
    font-weight: 300;
}

@mixin fraunces-400 {
    font-family: "Fraunces", serif;
    font-weight: 400;
}

@mixin archivo-900 {
    font-family: "Archivo", sans-serif;
    font-weight: 900;
}

@mixin orbitron-400 {
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
}

@mixin orbitron-700 {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
}

// TYPOGRAPHY
@mixin title-1 {
    @include fraunces-400;
}

@mixin title-2 {
    @include archivo-900;
}

@mixin body-1 {
    @include orbitron-400;
}

@mixin body-2 {
    @include orbitron-400;
}

@mixin body-bold {
    @include orbitron-700;
}

@mixin body-serif {
    letter-spacing: -0.44px;
    @include fraunces-300;
}
