@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 96px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.3s ease;
    position: relative;
    box-sizing: border-box;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
    color: $carbon;
    transition: all 0.3s ease;
    position: relative;
}

.title {
    font-size: 90px;
    transition: all 0.3s ease;
    @include fraunces-400;
}

.description {
    font-size: 18px;
    line-height: 24px;
}

.arrow {
    width: 14px;
    height: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -100px;
    right: 0;
    transform: translate(100%, 0);

    path {
        transition: all 0.3s ease;
    }

    &:hover {
        transform: translate(100%, 0) rotate(-90deg);

        path {
            stroke: $lava;
        }
    }
}

.nav {
    display: none;
}

.plus {
    display: none;
}

@include tablet-width {
    .content {
        width: min-content;
        min-width: 810px;
        padding-left: 110px;
        padding-right: 110px;
    }

    .text {
        gap: 100px;
        padding-top: 14px;
    }

    .title {
        font-size: 140px;
    }

    .description {
        width: 60%;
        line-height: 23px;
    }

    .plus {
        display: block;
        position: absolute;

        &:nth-of-type(1) {
            top: 14px;
            left: 20px;
        }

        &:nth-of-type(2) {
            top: 14px;
            right: 20px;
        }

        &:nth-of-type(3) {
            bottom: 46px;
            left: 20px;
        }

        &:nth-of-type(4) {
            bottom: 46px;
            right: 20px;
        }
    }

    .arrow {
        bottom: 0;
    }
}

@include desktop-width {
    .content {
        width: min-content;
        min-width: 800px;
        padding-left: 200px;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

    .text {
        gap: 110px;
        padding-top: 26px;
        position: relative;
    }

    .title {
        font-size: 178px;
    }

    .description {
        width: 66%;
    }

    .arrow {
        width: 23px;
        height: 23px;
        right: -60px;
        bottom: -90px;
    }

    .nav {
        min-width: 100%;
        display: flex;
        align-items: center;
        gap: 120px;
        position: absolute;
        top: 0;
        left: 200px;
        padding-top: 62px;
        padding-bottom: 62px;
    }
}
