@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 96px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.3s ease;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 80px;
    box-sizing: border-box;
    color: $carbon;
    transition: all 0.3s ease;
}

.title {
    font-size: 90px;
    transition: all 0.3s ease;
    @include fraunces-400;
}

.description {
    font-size: 18px;
    line-height: 24px;
}

.arrow {
    width: 14px !important;
    height: 14px !important;
}

.plus {
    display: none;
}

@include tablet-width {
    .content {
        display: grid;
        grid-template-columns: 1fr 14px;
        padding-left: 110px;
        padding-right: 110px;
    }

    .text {
        gap: 100px;
        padding-top: 14px;
    }

    .title {
        font-size: 140px;
    }

    .description {
        width: 74%;
        line-height: 23px;
    }

    .plus {
        display: block;
        position: absolute;

        &:nth-of-type(1) {
            top: 14px;
            left: 20px;
        }

        &:nth-of-type(2) {
            top: 14px;
            right: 20px;
        }

        &:nth-of-type(3) {
            bottom: 46px;
            left: 20px;
        }

        &:nth-of-type(4) {
            bottom: 46px;
            right: 20px;
        }
    }
}
